body,html{
    min-height: 100vh;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

*{
   box-sizing: border-box; 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section{
    min-width: 100vw;
    min-height: 100vh;
    padding: 7em 1.2em;
}
h2{
    text-transform: uppercase;
}
ul li{
    padding: .3em 0;
    text-transform: uppercase;
    white-space: nowrap;
}
.icon{
    width: 20em;
    margin: 1.2em auto;
    text-align: center;
}

.icon a i{
    color: #fdf5e6;
    font-size: 3em;
    margin:  0 ;
    padding: 0 .5em;
}

a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    font-size: 1.2em;
}

/* 
=========================
    about section
=========================
*/

.about{
    display: flex;
    justify-content: space-evenly;
    color: #fdf5e6;
    background: #09264a;/*#333000*/
}

.about h2, .about h3{
    color: #fda172;
}

.about > p{
    background: #fff;
    width: 100%;
    height: fit-content;
    margin: 0 5em;
    padding:  5em;
    color: #fda172;
    text-align: center;
    border: 1px solid #fda172;
    border-radius: 5em;
}
/* 
=========================================
   about section for smaller screen size
=========================================
*/
@media(max-width:800px){
  
    .about{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .about > p{
        width: auto;
        height: auto;
        margin: 1em 0 ;
        padding: 5em 1em;   
    }
}

/* 
=========================
    about image
=========================
*/
.about img{
    width: 15em;
    height: 15em;
    border-radius: 50%;
}

/* 
=========================
    projects section
=========================
*/
.projects{
    display: flex;
    justify-content: space-evenly;
    background: #fdf5e6;
    width: 100%;
}
.projects .project-tile{
    width: 33%;
    padding: 1em;
    text-align: center;
    white-space: nowrap;
}

.projects .project-tile iframe{
    width: 100%;
    height: 25em;
}
.projects .project-tile h2{
    font-size: 1.2rem;
    color: #fda172;
}
.project-link a{
    display: inline-block;
    background: #fda172;
    color: #f0ffff;
    margin: 1em;
    padding: .5em 1em;
}

/* 
=========================================
projects section for smaller screen size
=========================================
*/
@media(max-width:800px){
    .projects{
        flex-direction: column;
        align-items: center;
       
    }

    .projects .project-tile{
        width: 100%;
        margin:0 1em 2em;
        padding:  1em;
    } 

    .projects .project-tile iframe{
        height: 20em;
    }
}

/* 
=========================
    contacts section
=========================
*/
#contact{
    background: #fda172;
    color: #fdf5e6;   
}

#contact h2{
    text-transform: none;
    text-align: center;
}

/* 
=========================
    contact form
=========================
*/
.contact-form{
	margin: auto;
	padding: 1em;
	width: 30%;
	background: #fdf5e6;
    border-radius: 3em;	
    box-shadow: #000 10px 5px 15px;
}

.contact-form input{
    padding: .5em;
	border-radius: 5em;
}

@media(max-width:800px){
    .contact-form{
        width: 100%;
    }
}

textarea{
    height: 15em;
}

.contact-form input, textarea{
    display: block;
    width: 60%;
    margin: 1em auto;
}

input:focus, textarea:focus{
    outline: none;
    background: #fda172;
}

.contact-form input[type=submit]{
    display: block;
    margin: auto;
    padding: 1em;
    width: 8em;
    font-size: 1em;
}

input[type=submit]{
    background: #fda172;
    color: #f0ffff;
    text-transform: uppercase;
    text-align: center;
    border: none;
}

/* 
=========================
    footer section
=========================
*/
 footer{
	width: 100%;
    padding: 1.2em;
    background: #030303; 
    color: #fdf5e6;
    text-align: center;
    white-space: nowrap; 
    font-size: 1.2rem;
}
/* 
=========================
    footer form
=========================
*/
.footer-form{
    padding: .5rem;
}
.footer-form label{
    display: block;
    margin: 1rem;
   
}
.footer-form input{
    display:inline-block;
    width: 15%;
    margin: 0;
    padding: .4rem;
}
@media (max-width:1000px){
    .footer-form input{
        display: inline-block;
        width: 35%;
    }
}