body,html{
    height: 100vh;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

*{
   box-sizing: border-box; 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
	position: fixed;
    top: 0;
    background: #101010;
	width: 100%;
    z-index: 1;
}

section{
    width: 100%;
    min-height: 100vh;
    padding: 7em 1.2em;
}
h2{
    text-transform: uppercase;
}
ul li{
    padding: .3em 0;
    text-transform: uppercase;
    white-space: nowrap;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    font-size: 1.2em;
}
#navbar ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 5em;
    padding: 0 1em;
    list-style-type: none;
}
#navbar ul li a{
    text-decoration: none;
    color: #fda172;
    text-transform: uppercase;
}

@media(max-width:800px){
    #navbar ul{
        justify-content: space-between;
        margin-left: 0;
        padding: 0;
    }
    #navbar ul li a{
        padding: .2em;
        font-size: .9em;
    }  
}

.welcome{
    background: url('bg-02.jpg') fixed; 
    min-height: 50vh;
    padding: 1px;
    color: #fff;
}
.welcome .top-wrap{
    width: 100%;
}
.welcome .msg{
    width: 100%;
    color: #fdf5e6;
    margin: 200px auto 0;
    white-space: nowrap;
    text-align: center;
}

.welcome .skills{
    background: #fda172;
    max-width: 500px;
    color: #fe3a22;
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
    font-size: 3rem;
    text-transform: uppercase;
    border-radius: 1rem;
} 

.welcome .skills p i{
    color: #fe3a22;
    margin:  0 ;
    padding: 0 .2em;
}
.welcome .bottom-wrap{
    background:;
    margin: 1rem;
    border-radius: 1rem;
}
.welcome .bottom-wrap .testimonial{
   display: flex;
    text-align: center;
    width: 100%;
    padding: 1rem;
}
.welcome .bottom-wrap .testimonial p{
    background: #fe3a22;
    margin: .5rem;
    padding: .5rem;
    border-radius: 1rem;
    max-height: 400px;
}
@media(max-width:700px){
    .welcome .bottom-wrap .testimonial{
        flex-direction: column;
    }
    .welcome .msg h2{
        font-size: 1.2rem;
    }
}
.msg{
	margin: 2em auto;
    color: #fff;
    text-align: center;
    white-space: nowrap;
}

.about{
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    background: #030303;/*#333000*/
}

.about h2{
    color: #fe3a22;
}

.about > p{
    background: #fff;
    width: 100%;
    height: fit-content;
    margin: 0 5em;
    padding:  5em;
    color:#fe3a22;
    text-align: center;
    border: 1px solid #fe3a22;
    border-radius: 5em;
}

@media(max-width:800px){
  
    .about{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .about > p{
        width: auto;
        height: auto;
        margin: 1em 0 ;
        padding: 5em 1em;   
    }
}

img{
    width: 15em;
    height: 15em;
    border-radius: 50%;
}

.projects{
    display: flex;
    justify-content: space-evenly;
    background: #fdf5e6;
    width: 100%;
}
.projects .project-tile{
    width: 33%;
    padding: 1em;
    text-align: center;
    white-space: nowrap;
}

.projects .project-tile iframe{
    width: 100%;
    height: 25em;
}
.projects .project-tile h2{
    font-size: 1.2rem;
    color: #fda172;
}
.project-link a{
    display: inline-block;
    background: #fda172;
    color: #f0ffff;
    margin: 1em;
    padding: .5em 1em;
}

@media(max-width:800px){
    .projects{
        flex-direction: column;
        align-items: center;
       
    }

    .projects .project-tile{
        width: 100%;
        margin:0 1em 2em;
        padding:  1em;
    } 

    .projects .project-tile iframe{
        height: 20em;
    }
}

#contact{
    background: #fda172;
    color: #fdf5e6;   
}

#contact h2{
    text-transform: none;
    text-align: center;
}

.contact-form{
	margin: auto;
	padding: 1em;
	width: 30%;
	background: #fdf5e6;
    border-radius: 3em;	
    box-shadow: #000 10px 5px 15px;
}

.contact-form input{
    padding: .5em;
	border-radius: 5em;
}

@media(max-width:800px){
    .contact-form{
        width: 100%;
    }
}

textarea{
    height: 15em;
}

.contact-form input, textarea{
    display: block;
    width: 60%;
    margin: 1em auto;
}

input:focus, textarea:focus{
    outline: none;
    background: #fda172;
}

.contact-form input[type=submit]{
    display: block;
    margin: auto;
    padding: 1em;
    width: 8em;
    font-size: 1em;
}

input[type=submit]{
    background: #fda172;
    color: #f0ffff;
    text-transform: uppercase;
    border: none;
}

.icon{
    width: 20em;
    margin: 1.2em auto;
    text-align: center;
}

.icon a i{
    color: #fdf5e6;
    font-size: 3em;
    margin:  0 ;
    padding: 0 .5em;
}

 footer{
	bottom: 0;
	width: 100%;
    height: 10em;
    padding: 1.2em;
    background: #030303; 
    color: #fe3a22;
    text-align: center;
    white-space: nowrap; 
}

.footer-form{
    display: block;
    width: 100%;
    margin: 0 auto;
    
}

footer p{
    color: #fdf5e6;
    padding: 0;
}

 .footer-form input{
    margin: 1.5em 0;
    padding: .5em;
}

@media(max-width:800px){
    footer-form{
        display: block;
        width: 70%;
        margin: 0 auto;
        
    }
    .footer-form input{
        padding: .6em;
    }
}
