body,html{
    height: 100vh;
    scroll-behavior: smooth;
}

*{
   box-sizing: border-box; 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
	position: fixed;
	top: 0;
	width: 100%;
	height: auto;   
}

section{
    width: 100%;
    min-height: 100vh;
    padding: 7em 1.2em 0;
}
h2{
    text-transform: uppercase;
}
ul li{
    padding: .3em 0;
    text-transform: uppercase;
    white-space: nowrap;
}
#navbar ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 5em;
    padding: 1em;
    list-style-type: none;
}
#navbar ul li a{
    text-decoration: none;
    color: #fe3a22;
    text-transform: uppercase;
}

@media(max-width:800px){
    #navbar ul{
        display: flex;
        justify-content: space-between;
        margin: 0 .1em;
    }
    #navbar ul li a{
        padding: .2em;
        font-size: .9em;
    }  
}

.welcome{
    background: url('bg-02.jpg');
    width: 100%;
}

.msg{
    height: 30%;
	width: 40%;
	margin: 15em auto;
    color: #fff;
    text-align: center;
}

.about{
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    background: #030303;/*#333000*/
}

.about h2{
    color: #fe3a22;
}

.about > p{
    background: #fff;
    width: 100%;
    height: fit-content;
    margin: 0 5em;
    padding:  5em;
    color:#fe3a22;
    text-align: center;
    border: 1px solid #fe3a22;
    border-radius: 5em;
}

@media(max-width:800px){
  
    .about{
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .about > p{
        width: auto;
        height: auto;
        margin: 1em 0 ;
        padding: 5em 1em;   
    }
}

img{
    width: 15em;
    height: 15em;
    border-radius: 50%;
}

#contact{
    background: #fda172;
    color: #fdf5e6;   
}

#contact h2{
    text-transform: none;
    text-align: center;
}

.contact-form{
	margin: auto;
	padding: 1em;
	width: 30%;
	background: #fdf5e6;
    border-radius: 3em;	
    box-shadow: #000 10px 5px 15px;
}

.contact-form input{
    padding: .5em;
	border-radius: 5em;
}

@media(max-width:800px){
    .contact-form{
        width: 100%;
    }
}

textarea{
    height: 15em;
}

.contact-form input, textarea{
    display: block;
    width: 60%;
    margin: 1em auto;
}

input:focus, textarea:focus{
    outline: none;
    background: #fda172;
}

.contact-form input[type=submit]{
    display: block;
    margin: auto;
    padding: 1em;
    width: 8em;
    font-size: 1em;
}

input[type=submit]{
    background: #fda172;
    color: #f0ffff;
    text-transform: uppercase;
    border: none;
}

.icon{
    width: 20em;
    margin: 1.2em auto;
    text-align: center;
}

.icon a i{
    color: #fdf5e6;
    font-size: 3em;
    margin:  0 ;
    padding: 0 .5em;
}

footer{
	bottom: 0;
	width: 100%;
    height: 20em;
    padding: 5em;
    background: #030303; 
    color: #fe3a22;
    text-align: center;
    white-space: nowrap; 
}

footer p{
    color: #fdf5e6;
    padding: 0;
}

.footer-form input{
    margin: 1.5em 0;
    padding: .5em;
}

@media(max-width:800px){
    .footer-form input{
        padding: 0;
    }
}
